
.post-type-archive-faqs .type-faq header{
  padding:10px;
  background:#dfdfdf;
}
.post-type-archive-faqs .type-faq header:hover{
  background:#efefef;
}

.faqs .entry-title:before{
	content:'Q: ';
}
.faqs .entry-content{
	display:none;
	border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  box-shadow: 0 1px 2px #666;
  border-right: 1px solid #999;
  padding: 10px;
}
.faqs .entry-content p:before{
	content:'A: ';
}
.faqs .entry-content p{
	margin:0;
}
/*
=========================
  WIDGETS
=========================
*/
